:root {
	--default-spacing: 8px;
	--shadow-color: rgba(0, 0, 0, 0.2);
	--document-padding-width: 0 5vw;
	--document-padding-height: 5vh 0;
}

#content {
	display: flex;
	flex-direction: column;
	gap: var(--default-spacing);
}

.aboutMeContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: var(--default-spacing);
}

.workContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: var(--default-spacing);
}

.projectInfoContainer {
	display: grid;
	grid-template-rows: 1.5rem 4rem;
	grid-template-columns: 1fr 64px;
	gap: var(--default-spacing);
	padding: var(--default-spacing);
}

.projectAbout {
	grid-column-start: 1;
	grid-column-end: 3;
}

.projectContainer {
	box-shadow: 0 0.5rem 0.5rem var(--shadow-color);
	width: 450px;
	height: 500px;
	display: grid;
	grid-template-rows: 240px 1fr;
	gap: var(--default-spacing);
}

.projectLinks {
	display: flex;
}

.projectName {
	font-size: 1.1rem;
	font-weight: 600;
}

.aboutMePhoto,
.contactMePhoto {
	width: 90vw;
	object-fit: cover;
}

.contactMeContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: var(--default-spacing);
}

.projectContainer:nth-of-type(odd)>.projectScreenshot {
	background: hotpink;
}

.projectContainer:nth-of-type(even)>.projectScreenshot {
	background: aquamarine;
}

.workContainer {
	display: grid;
	grid-template-rows: 2rem 1fr;
	padding: var(--document-padding-width);
}

.projectsContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 8vh 0;
}